flows/flows.json
[
    {
        "id": "f6f2187d.f17ca8",
        "type": "tab",
        "label": "Go1 Basic MQTT",
        "disabled": false,
        "info": ""
    },
    {
        "id": "1d373428ba58488c",
        "type": "inject",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "standDown",
        "payloadType": "str",
        "x": 220,
        "y": 220,
        "wires": [
            [
                "f127981a0d1e7e93"
            ]
        ]
    },
    {
        "id": "f127981a0d1e7e93",
        "type": "mqtt out",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "topic": "controller/action",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "9f3b2a7763ee426e",
        "x": 520,
        "y": 280,
        "wires": []
    },
    {
        "id": "0a63091e4c686c9d",
        "type": "inject",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "standUp",
        "payloadType": "str",
        "x": 220,
        "y": 340,
        "wires": [
            [
                "f127981a0d1e7e93"
            ]
        ]
    },
    {
        "id": "9f3b2a7763ee426e",
        "type": "mqtt-broker",
        "name": "Go1 MQTT",
        "broker": "192.168.12.1",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    }
]